UI_BASE_URL=https://blueinc.agenchq.com
API_BASE_URL=https://api.agenchq.com

UI_RECRUITER_EMAIL=
UI_RECRUITER_PASSWORD=

UI_COMPLIANCE_EMAIL=
UI_COMPLIANCE_PASSWORD=

UI_CANDIDATE_EMAIL=
UI_CANDIDATE_PASSWORD=

UI_FINANCE_EMAIL=
UI_FINANCE_PASSWORD=

